.cardForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    @media (max-width: 768px) {
      
    }
  }
  .cardForm label {
    margin-bottom: 10px;
  }
  .inputWrapper {
    margin-bottom: 10px;
  }
  